<div style="width: 100%; height: 23.44vw;">
  <nz-carousel nzAutoPlay [nzEffect]="'fade'" [nzEnableSwipe]="'false'">
    <div nz-carousel-content *ngFor="let carouselIndex of carouselArray"
         style="width: 100%; height: 23.44vw;">
      <img [src]="carouselIndex" alt="carousel" style="width: 100%; height: 100%;">
    </div>
  </nz-carousel>
</div>
<div style="margin: 0 -1%;">
  <div *ngFor="let node of nodes" style="display: inline-block; width: 31.33%; margin: 10px 1%;">
    <nz-card [nzTitle]="titleTemplate" [nzExtra]="extraTemplate">
      <div *ngFor="let article of nodesArticleList[node.origin.sequence-1]">
        <p style="width: 80%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: left;">
          <a [routerLink]="'home/' + node.key + '/' + article.id + '.html'">{{article.title}}</a>
        </p>
        <span
          style="width: 20%; text-align: right; float: right;">
          {{article.createdAt.toString().substring(5, 10)}}
        </span>
      </div>
    </nz-card>
    <ng-template #titleTemplate>
      <i nz-icon type="ordered-list"></i>&nbsp;&nbsp;
      <strong>{{node.title}}</strong>
    </ng-template>
    <ng-template #extraTemplate>
      <a [routerLink]="'home/' + node.key">更多 >></a>
    </ng-template>
  </div>
</div>
<div>
  <nz-card [nzTitle]="titleTemplate" [nzBordered]="false">
    <div style="margin: -20px -28px;">
      <a nz-card-grid
         style="width: 19%; margin: 0.5% 0.5%; text-align: center; letter-spacing: 2px; font-weight: bold; font-size: larger;"
         *ngFor="let friendlyLink of friendlyLinksArray"
         [href]="friendlyLink.link" target="_blank">
        {{friendlyLink.title}}
      </a>
    </div>
  </nz-card>
  <ng-template #titleTemplate>
    <i nz-icon type="link"></i>&nbsp;&nbsp;
    <strong>友情链接</strong>
  </ng-template>
</div>
