<nz-layout class="layout">
  <nz-header style="background: #fff; height: 48px;">
    <ul nz-menu [nzMode]="'horizontal'" style="background: #fff; height: 100%;">
      <li nz-submenu *ngFor="let node of nodes" (click)="goCategory(node)">
        <span title>{{node.title}}</span>
        <ul *ngIf="node.key!=='home'">
          <li nz-menu-item *ngFor="let subNode of node.children" (click)="goCategory(subNode)">{{subNode.title}}</li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 50px;">
    <div style="background: #fff; padding: 24px; min-height: 280px;">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">
    <p>{{copyrightInfo.name}}</p>
    <p>{{websiteFilingInfo.name}}</p>
  </nz-footer>
</nz-layout>
